<div class="paper-container container">
  <div class="paper-container__body">
    <h3 class="te-sub-title te-sub-title--flush">Summary</h3>
    <section class="rca-summary">
      <div class="">
      <div class="form-group">
        <label for="select-granularity">Granularity: </label>
        {{#power-select
          selected=granularity
          options=granularities
          triggerId="select-granularity"
          onchange=(action "onGranularityChange") 
          searchEnabled=false
          as |granularity|
        }}
          {{granularity}}
        {{/power-select}}
      </div>
      <div class="form-group">
        <label for="select-filters">Filters: </label>
        {{filter-select
          options=metricFilters
          selected=filters
          triggerId="select-filter"
        }}
      </div>
        <label for="select-mode">Compare Mode: </label>
        {{#power-select
          selected=compareMode
          options=compareModeOptions
          triggerId="select-mode"
          searchEnabled=false
          onchange=(action "onModeChange")
          as |mode|
        }}
          {{mode}}
        {{/power-select}}
</div>
      <main>
        {{#containers/metric-container as |metricList actions|}}
          {{#if metricList.loading}}
            <section class="paper-container">
              <div class="spinner-wrapper">
                {{ember-spinner}}
              </div>
            </section>
          {{/if}}

          {{!--{{#if metricList.failed}}
            Oops, something went wrong...
          {{/if}}--}}

          {{#if metricList.loaded}}

            {{anomaly-graph 
              primaryMetric=metricList.primaryMetric 
              showGraphLegend=true
              onSubchartChange=(pipe-action (action "onDateChange") (action actions.onDateChange))
              subchartStart=extentStart
              subchartEnd=extentEnd
            }}
          {{/if}}

        {{/containers/metric-container}}
      </main>
    </section>
  </div>
</div>

<div class="paper-container container">
  <div class="row">
    <div class="contribution-table__header">
    <div class="contribution-table__subnav">
      {{#link-to "rca.details.metrics" class="thirdeye-link thirdeye-link--nav" activeClass="thirdeye-link--active"}}
        Metrics Correlation 
      {{/link-to}}
      {{!--<a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>Metrics Correlation</a>--}}
    </div>
    <div class="contribution-table__subnav">
      {{#link-to "rca.details.events" class="thirdeye-link thirdeye-link--nav" activeClass="thirdeye-link--active"}}
        Events Correlation 
      {{/link-to}}
      {{!--<a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "number") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "number"}}>Events Correlation</a>--}}
    </div>
  </div>
  </div>
  {{!--<h3 class="te-sub-title te-sub-title--flush">Metrics Correlation</h3>
  <h3 class="te-sub-title te-sub-title--flush">Events Correlation</h3>--}}
  {{outlet}}
</div>