<section class="row paper-container__body">
  {{#containers/metrics-container as |metricList actions|}}
    <div class="rca-header">
      <h3 class="te-sub-title te-sub-title--flush">Metrics Correlation</h3>
      <div class="rca-actions">
        {{#if metricList.loaded}}
          <a class="thirdeye-link pull-right" {{action "onSplitViewToggling"}}>{{if splitView 'Combine View' 'Split View'}}</a>
        {{/if}}
      </div>
    </div>
    <div class="rca-body">
      {{#if metricList.loading}}
        <section>
          <div class="spinner-wrapper">
            {{ember-spinner}}
          </div>
        </section>
      {{/if}}

      {{#if metricList.failed}}
        Oops, something went wrong...
      {{/if}}

      {{#if metricList.loaded}}
        {{#if splitView}}
          {{anomaly-graph
            componentId='correlated-metrics'
            primaryMetric=metricList.primaryMetric 
            showGraphLegend=false
          }}
          {{#each metricList.relatedMetrics as |metric|}}
            {{anomaly-graph
              componentId='correlated-metrics'
              primaryMetric=metric
              showGraphLegend=false}}
          {{/each}}
        {{else}}
          {{anomaly-graph
            componentId='correlated-metrics'
            primaryMetric=metricList.primaryMetric
            relatedMetrics=metricList.relatedMetrics
            onSubchartChange=(action "onDateChange")
          }}
        {{/if}}
      {{/if}}

        <div class="contribution-table">
          <div class="contribution-table__header">
            <div class="contribution-table__subnav">
              <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>% Change</a>
            </div>
            <div class="contribution-table__subnav">
              <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "number") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "number"}}>Raw Numbers</a>
            </div>
          </div>
          <div class="contribution-table__body">
            {{#if metricList.loading}}
              <div class="spinner-wrapper">
                {{ember-spinner}}
              </div>
            {{else}}
              {{#if loading}}
                <div class="spinner-wrapper spinner-wrapper--absolute">
                  {{ember-spinner}}
                </div>
              {{/if}}
              {{contribution-table
                title="Primary Metric"
                dates=metricList.primaryMetric.timeBucketsCurrent
                granularity=metricList.granularity
                primaryMetric=metricList.primaryMetric
                start=analysisStart
                end=analysisEnd
                relatedMetrics=metricList.relatedMetrics
                showDetails=(eq selectedTab "number")
                loading=(mut loading)
                groupings=(hash
                  primaryMetric=metricList.primaryMetric
                  relatedMetrics=metricList.relatedMetrics
                  )
              }}
            {{/if}}
          </div>
        </div>

    </div>
  {{/containers/metrics-container}}
</section>