<div class="col-xs-12">
  <div class="table-responsive analysis-table-wrapper ">
    <table class="table table-bordered analysis-table tree-map__table">
      <thead>
      <tr>
        <th class="analysis-table__anchor"></th>
        {{#each dates as |date|}}
          <th class="analysis-table__header">
            {{format-date date}}
          </th>
        {{/each}}
      </tr>
      </thead>
      <tbody>
      {{#each metrics as |metric|}}
      <tr>
        <td class="analysis-table__dimension">
          <div class="analysis-table__cell">{{metric.metricName}}</div>
        </td>
        {{#with metric.subDimensionContributionMap.All.percentageChange as |changes|}}
          {{#each changes as |percentChange|}}
            <td style="background-color: {{compute-color percentChange}}">
              <div class="analysis-table__cell">
                <span style="color:{{compute-text-color percentChange}}">
                  {{percentChange}}%
                </span>
              </div>
            </td>
          {{/each}}
        {{/with}}
      </tr>
      {{/each}}
     </tbody>
    </table>
  </div>
</div>
