{{!--<li><strong>Name:</strong> {{anomaly.anomalyFunctionName}}</li>
<li><strong>Current Start</strong> {{anomaly.currentStart}}</li>
<li><strong>Current End</strong> {{anomaly.currentEnd}}</li>--}}
<div class="left-panel">
  <div class="anomaly_graph__filters">
    {{input type="checkbox" checked=showLegend}} show legend
    <h3>Primary Metric</h3>
    <div class="anomaly-graph__filter-item">
      {{input type="checkbox" id="primary-metric" checked=anomaly.isSelected click=(action "onSelection" anomaly)}} {{anomaly.anomalyFunctionName}}
      <label for="primary-metric"> {{metric.metricName}} </label>
    </div>
    <h3>Related Metrics</h3>
    {{#each relatedMetrics as |metric index|}}
      <div class="anomaly-graph__filter-item">{{input type="checkbox" id=(concat "related-metric-" index) checked=metric.isSelected}}
        <label for="related-metric-{{index}}"> {{metric.metricName}} </label>
      </div>
    {{else}}
      No Related Metrics found.
    {{/each}}
  </div>
</div>
<div class="right-panel">
  {{thirdeye-chart 
    data=data 
    axis=axis 
    legend=legend
    regions=regions
    size=size
    color=color
    subchart=subchart}}
</div>