{{!--<li><strong>Name:</strong> {{anomaly.anomalyFunctionName}}</li>
<li><strong>Current Start</strong> {{anomaly.currentStart}}</li>
<li><strong>Current End</strong> {{anomaly.currentEnd}}</li>--}}

{{#if showGraphLegend}}
  <div class="left-panel">
    <div class="anomaly_graph__filters">
      {{!--{{input type="checkbox" checked=showLegend}} show legend--}}
      <h5 class="legend-title">Primary Metric</h5>
      <ul class="anomaly-graph__filter-group">
        <li class="anomaly-graph__filter-item">
          {{input type="checkbox" id=(concat "metric-" metric.id) checked=true click=(action "onSelection" anomaly)}} {{primaryMetric.metricName}}
          {{!--{{input type="checkbox" id="primary-metric" checked=true click=(action "onSelection" anomaly)}} {{anomaly.anomalyFunctionName}}--}}
          <label for="metric-{{metric.id}}"> {{metric.metricName}} </label>
        </li>
      </ul>
      <h5 class="legend-title">Related Metrics</h5>
      <ul class="anomaly-graph__filter-group">
      {{#each relatedMetrics as |metric index|}}
        <li class="anomaly-graph__filter-item">{{input type="checkbox" id=(concat "related-metric-" index) checked=metric.isSelected}}
        {{!--<div class="anomaly-graph__filter-item">{{input type="checkbox" id=(concat "related-metric-" index) checked=false}}--}}
          <label for="related-metric-{{index}}"> {{metric.metricName}} </label>
        </li>
      {{else}}
        {{#unless relatedMetrics.length}}
          <div style="position:relative;">
            {{ember-spinner}}
          </div>
        {{/unless}}
      {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
<div class="right-panel">
  {{!--<a href="#" {{action "onToggle"}}>{{if showLegend 'Split View' 'CombineView'}}</a>--}}
  {{#unless showGraphLegend}}
    <h5>{{primaryMetric.metricId}} {{primaryMetric.metricName}}</h5>
  {{/unless}}
  {{thirdeye-chart 
    data=data 
    axis=axis 
    legend=legend
    regions=regions
    size=size
    color=color
    zoom=zoom
    subchart=subchart}}
</div>
{{!--{{else}}

  
  <h5>{{anomaly.anomalyFunctionName}}</h5>
  <a href="#" {{action "onToggle"}}>{{if showLegend 'Split View' 'CombineView'}}</a>
{{/if}}--}}