  <section class="paper-container__body">
  {{#containers/dimensions-container as |dimensions|}}
    <div class="row">
      <div class="col-xs-9">
        <h3 class="te-sub-title te-sub-title--flush">Dimensions Analysis</h3>
      </div>
      <div class="col-xs-3 pull-right">
        <label class="te-label" for="select-dimension">Break Dimensions by: </label>
          {{#power-select 
            triggerId="select-dimension"
            selected=dimension
            options=dimensions.keys
            onchange=(action (mut dimension))
            as |dimension|}}
            {{dimension}}
          {{/power-select}}
      </div>
    </div>

    {{moment-format dimensions.analysisStart}} - {{moment-format dimensions.analysisEnd}}
    {{#if dimensions.loading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}

    {{#containers/primary-metric-container as |primaryMetric actions|}}
      {{#if primaryMetric.loaded}}
        {{anomaly-graph
          componentId='correlated-dimensions'
          primaryMetric=primaryMetric.primaryMetric 
          dimensions=dimensions.timeseries
          selectedDimensions=primaryMetric.selectedDimensions
          onSelection=(action actions.onSelection)
          showDimensions=true}}
      {{/if}}

    {{!--{{#containers/dimensions-container as |dimensions actions|}}--}}
      {{#if dimensions.loaded}}
        <div class="contribution-table">
          <div class="contribution-table__header">
            <div class="contribution-table__subnav">
              <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>% Change</a>
            </div>
            <div class="contribution-table__subnav">
              <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "number") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "number"}}>Raw Numbers</a>
            </div>
            <div class="contribution-table__subnav">
              <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "details") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "details"}}>Details</a>
            </div>
          </div>
          <div class="contribution-table__body">
            {{#if (eq selectedTab "details")}}
              heatmap here
            {{else}}
              {{#if loading}}
                <div class="spinner-wrapper spinner-wrapper--absolute">
                  {{ember-spinner}}
                </div>
              {{/if}}
              {{contribution-table
                dates=primaryMetric.primaryMetric.timeBucketsCurrent
                granularity=primaryMetric.granularity
                dimensions=primaryMetric.selectedDimensions
                start=analysisStart
                end=analysisEnd
                showDetails=(eq selectedTab "number")
                loading=(mut tableIsLoading)
              }}
                {{!--primaryMetric=dimensions.timeseries.subDimensionContributionMap--}}

      
            {{!--{{contribution-table
              title="Primary Metric"
              granularity=dimensions.granularity
              dates=dimensions.timeseries.timeBucketsCurrent
              dimensions=dimensions.timeseries.subDimensionContributionMap
              start=analysisStart
              end=analysisEnd
              showDetails=(eq selectedTab "number")
              loading=(mut tableIsLoading)
            }}--}}
            {{/if}}
          </div>
        </div>

      {{/if}}

    {{/containers/primary-metric-container}}
  {{/containers/dimensions-container}}
 </section>