  
{{moment-format analysisStart}} - {{moment-format analysisEnd}} //controller not updated
 <section class="row paper-container__body">
  <h3 class="te-sub-title te-sub-title--flush">Dimensions Analysis</h3>

  {{#containers/dimensions-container as |dimensions actions|}}
    {{moment-format dimensions.analysisStart}} - {{moment-format dimensions.analysisEnd}}
    {{#if dimensions.loading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}
    {{#if dimensions.loaded}}
      <label for="select-dimension">Dimension: </label>
      {{#power-select 
        triggerId="select-dimension"
        selected=dimension
        options=dimensions.keys
        onchange=(action (mut dimension))
        as |dimension|}}
        {{dimension}}
      {{/power-select}}

      {{dimensions-wrapper 
        dimensions=dimensions 
        onLoading=(action actions.onLoading)
        onLoad=(action actions.onLoad)
        onFail=(action actions.onFail)}}

       gran {{dimensions.granularity}} <br>
      {{#each-in dimensions.timeseries.subDimensionContributionMap as |dimension timeseries|}}
        {{dimension}} {{timeserie}}
      {{/each-in}}
      {{#if loading}}
        <div class="spinner-wrapper spinner-wrapper--absolute">
          {{ember-spinner}}
        </div>
      {{/if}}
      {{!--{{contribution-table
        title="Primary Metric"
        granularity=dimensions.granularity
        primaryMetric=metricList.primaryMetric
        start=analysisStart
        end=analysisEnd
        relatedMetrics=metricList.relatedMetrics
        showDetails=(eq selectedTab "number")
        loading=(mut loading)
      }}--}}

    {{/if}}

  {{/containers/dimensions-container}}
 </section>